###### Requirements without version specifiers ######
pandas
streamlit
streamlit_aggrid
plotly
numpy
altair
pyproj
multiapp
scikit_learn

###### Requirements with version specifiers ######
GDAL==3.1.1	    # Version and bits Matching. Must be the same version as Python, Anaconda (eg: cp37-cp37m-win_amd64.whl - Version 3.7, 64-bits)
pyproj==2.6.1.post1 # Version and bits Matching. Must be the same version as Python, Anaconda (eg: cp37-cp37m-win_amd64.whl - Version 3.7, 64-bits)
Fiona==1.8.13       # Version and bits Matching. Must be the same version as Python, Anaconda (eg: cp37-cp37m-win_amd64.whl - Version 3.7, 64-bits)
Shapely==1.7.0      # Version and bits Matching. Must be the same version as Python, Anaconda (eg: cp37-cp37m-win_amd64.whl - Version 3.7, 64-bits)
geopandas==0.9.0    # Version and bits Matching. Must be the same version as Python, Anaconda (eg: cp37-cp37m-win_amd64.whl - Version 3.7, 64-bits)
